{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}


{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h4 class="text-center text-secondary mt-5">
		S'INSCRIRE</h4>

	{{ form_start(registrationForm) }}

	<div class="row mt-5">

		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.firstname) }}
		</div>
		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.lastname) }}
		</div>
		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.address) }}
		</div>
		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.codepostal) }}
		</div>
		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.user_photo) }}
		</div>

		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.phone) }}
		</div>
		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.city) }}
		</div>
		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.email) }}
		</div>
		<div class="col-12 col-sm-6">
			{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}
		</div>
		<div class="col-12 col-sm-6 mt-sm-5">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>


	</div>


	<div class="col-12">
		<button type="submit" class="btn btn-info w-100 text-white">
			Enregistrer</button>
	</div>

	{{ form_end(registrationForm) }}
{% endblock %}
