<h1>Bonjour !</h1>


<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

{# <a href="{{ path('api_reset_password', { token: resetToken.token }) }}">Reset Password</a> #}

<a href="http://localhost:5173/reset-password/{{ resetToken.token }}">
	<strong>
		Réinitialisez votre mot de passe</strong>
</a>

{# <a href="{{ url('api_reset_password', {token: resetToken.token}) }}">{{ url('api_reset_password', {token: resetToken.token}) }}</a> #}
<p>Ce lien expirera dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>
	Cordialement,
</p>
<h4>L'équipe iGadget </h4>
